:root {
    --mdc-theme-primary: #d0bcff;
    --mdc-theme-secondary: #ccc2dc;
    --mdc-theme-background: #141218;
    --mdc-theme-surface: #141218;
    --mdc-theme-error: #f2b8b5;
    --mdc-theme-on-primary: #381e72;
    --mdc-theme-on-secondary: #332d41;
    --mdc-theme-on-surface: #e6e0e9;
    --mdc-theme-on-error: #601410;
    --mdc-button-on-surface: #6f6978;
    --mdc-outlined-button-outline-color: #938f99;
}

@media (prefers-color-scheme: light) {
    :root {
        --mdc-theme-primary: #9183b2;
        --mdc-theme-secondary: #625b71;
        --mdc-theme-background: #fef7ff;
        --mdc-theme-surface: #fef7ff;
        --mdc-theme-error: #b3261e;
        --mdc-theme-on-primary: #ffffff;
        --mdc-theme-on-secondary: #ffffff;
        --mdc-theme-on-surface: #1d1b20;
        --mdc-theme-on-error: #601410;
        --mdc-button-on-surface: #8a868d;
        --mdc-outlined-button-outline-color: #79747e;
    }
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background: var(--mdc-theme-surface);
    color: var(--mdc-theme-on-surface);
    overflow: hidden;
}

canvas {
    border: 0;
    border-radius: 4px;
    margin: 0;
}

/* normal number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label {
    width: 10em;
}

#recenter {
    position: absolute;
    top: 0;
    right: -100px;
    width: 100px;
    height: 100px;
    transition: right 0.5s ease-in-out 0s;
}

#recenter.show {
    right: 0;
}

#recenter img {
    width: 100%;
    height: 100%;
}

.smol {
    width: fit-content;
    height: fit-content;
}

#editsettings, #edittile {
    max-height: 100vh;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    background: inherit;
    color: inherit;
    width: fit-content;
    border-radius: 4px;
    border: 1px var(--mdc-outlined-button-outline-color) solid;
    padding: 6px;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    gap: 0.5em;
}

#editsettings:popover-open, #edittile:popover-open {
    display: grid;
}

#info {
    max-height: 100vh;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    background: inherit;
    color: inherit;
    border-radius: 4px;
    border: 1px var(--mdc-outlined-button-outline-color) solid;
    padding 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#info:popover-open {
    display: flex;
}

#info p {
    margin: 0;
}

#info p img {
    height: 2em;
    width: 2em;
    margin-bottom: -0.65em;
}

@media (prefers-color-scheme: light) {
    #info p img {
        filter: invert(100%);
    }
}

.wrap {
    max-width: 60ch;
    line-height: 1.5;
}

.chin {
    padding-bottom: 1em;
}

input[type=range][orient=vertical] {
    position: absolute;
    right: 0;
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: none;
    -webkit-appearance: none;
    vertical-align: top;
    width: 0;
    height: 100%;
    z-index: 1;
}

input[type=range][orient=vertical]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin-top: -14px;
    border-radius: 0;
    border: none;
    clip-path: polygon(100% 0, 100% 100%, 0% 50%);
}

input[type=range][orient=vertical]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin-top: -14px;
    border-radius: 0;
    border: none;
    clip-path: polygon(100% 0, 100% 100%, 0% 50%);
}

input[type=range][orient=vertical]::-ms-thumb {
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin-top: -14px;
    border-radius: 0;
    border: none;
    clip-path: polygon(100% 0, 100% 100%, 0% 50%);
}

.oob::-moz-range-thumb {
    background: var(--mdc-theme-on-error);
}

.colorpicker {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: auto 30px;
    min-height: 175px;
    gap: 0.1em 0.5em;
    padding-right: 5px;
}

#preview {
    grid-row: 1 / 3;
    border-radius: 4px;
}

.range {
    grid-row: 1;
    width: 100%;
    position: relative;
}

.colorpicker canvas {
    border: 1px var(--mdc-outlined-button-outline-color) solid;
    position: absolute;
    bottom: 2.5%;
    height: 93%;
    width: 100%;
}

.colorpicker > input {
    background: none;
    border: 1px var(--mdc-outlined-button-outline-color) solid;
    border-radius: 4px;
    color: inherit;
}

.colorpicker > input:focus {
    outline: none;
    border-width: 2px;
}

.settings-last, .tile-last {
    display: grid;
    grid-template-columns: auto;
    gap: 0.2em 1em;
    align-items: center;
}

.settings-last-inner, .tile-last-inner, .values-inner {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    gap: 0.2em 1em;
    justify-content: center;
}

.centerme {
    margin: 0 auto;
}

.values {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em;
}

.tonal * {
    --mdc-theme-primary: var(--mdc-theme-secondary);
    --mdc-theme-on-primary: var(--mdc-theme-on-secondary);
}

@media (min-width: 383px) {
    .settings-last, .values-settings {
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 405px) {
     .tile-last, .tile-last-inner {
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 475px) {
    .values {
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 572px) {
    .settings-last-inner {
        grid-template-columns: repeat(2, auto);
    }

    .values-settings {
        grid-template-columns: repeat(3, auto);
    }
}

@media (min-width: 761px) {
    .values-settings {
        grid-template-columns: repeat(4, auto);
    }
}

/* theme overrides */
.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
    border-color: var(--mdc-outlined-button-outline-color) !important;
}

.mdc-text-field__input {
    color: var(--mdc-theme-on-surface) !important;
}

.mdc-floating-label {
    color: var(--mdc-theme-on-surface) !important;
}

.mdc-text-field__affix--prefix, .mdc-text-field__affix--suffix {
    color: var(--mdc-theme-secondary) !important;
}

